$mainFont: 'Roboto Condensed', sans-serif;
$topBannerBackgroundColor: rgb(153, 182, 190);
$topBannerFont: 'Lato', sans-serif;
$topBannerFontColor: rgb(62, 122, 172);
$inputFontFamily: 'Lato', sans-serif;
$inputFontColor: gray;
$submitButtonBackgroundColor: rgb(240, 240, 243);
$submitButtonFontColor: rgb(116, 146, 153);
$submitButtonFontSize: 14px;

$navLinksFontColor: gray;
$navLinksFontSize: 16px;

$mainDishesFontColor: rgb(84, 84, 128);
$mainDishesTitleColor: rgb(196, 196, 120);


$aboutMeSectionBackgroundColor: rgba(182, 159, 159, 0.192);