@import "_variables1";
// @import "_variables2";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body {
  margin: auto;
  padding: 0;
  max-width: 950px;
  font-family: $mainFont;
}

header {

  div.top-banner-flex {
    display: flex;
    flex-direction: row;
    height: 70px;
    align-items: center;
    background-color: $topBannerBackgroundColor;

    .top-banner-left {
      display: flex;
      flex: 1;
      justify-content: flex-start;
    }
    
    .top-banner-left h3 {
      font-family: $topBannerFont;
      color: $topBannerFontColor;
    }
  }

  div.top-banner-right {
    display: flex;
    flex: 1;
    justify-content: flex-end;

    input[type=text],
    input[type=email] {
      background-color: red;
    } 
  }



}

